USE [master]
GO
/****** Objeto: Database [northwind_staging] Fecha de script: 31/05/2026 10:49:45  ******/
CREATE DATABASE [northwind_staging]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'northwind_staging', FILENAME = N'C:\Users\gazco\northwind_staging.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'northwind_staging_log', FILENAME = N'C:\Users\gazco\northwind_staging_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [northwind_staging].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [northwind_staging]
GO
/****** Objeto: Table [dbo].[stg_categories] Fecha de script: 31/05/2026 10:49:45  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_categories](
	[CategoryID] [int] NOT NULL,
	[CategoryName] [varchar](15) NOT NULL,
	[Description] [varchar](max) NULL,
	[STG_LOAD_DATE] [date] NULL,
	[STG_SOURCE_NAME] [varchar](50) NULL,
	[STG_BATCH_ID] [varchar](20) NULL,
 CONSTRAINT [pk_stg_categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[stg_customers] Fecha de script: 31/05/2026 10:49:45  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_customers](
	[CustomerID] [char](5) NOT NULL,
	[CompanyName] [varchar](40) NOT NULL,
	[ContactName] [varchar](30) NULL,
	[ContactTitle] [varchar](30) NULL,
	[Address] [varchar](60) NULL,
	[City] [varchar](15) NULL,
	[Region] [varchar](15) NULL,
	[PostalCode] [varchar](10) NULL,
	[Country] [varchar](15) NULL,
	[Phone] [varchar](24) NULL,
	[Fax] [varchar](24) NULL,
	[STG_LOAD_DATE] [date] NULL,
	[STG_SOURCE_NAME] [varchar](50) NULL,
	[STG_BATCH_ID] [varchar](20) NULL,
 CONSTRAINT [pk_stg_customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[stg_employees] Fecha de script: 31/05/2026 10:49:45  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_employees](
	[EmployeeID] [int] NOT NULL,
	[LastName] [varchar](20) NOT NULL,
	[FirstName] [varchar](10) NOT NULL,
	[Title] [varchar](30) NULL,
	[TitleOfCourtesy] [varchar](25) NULL,
	[BirthDate] [date] NULL,
	[HireDate] [date] NULL,
	[City] [varchar](15) NULL,
	[Region] [varchar](15) NULL,
	[Country] [varchar](15) NULL,
	[ReportsTo] [int] NULL,
	[FullName] [varchar](35) NULL,
	[STG_LOAD_DATE] [date] NULL,
	[STG_SOURCE_NAME] [varchar](50) NULL,
	[STG_BATCH_ID] [varchar](20) NULL,
 CONSTRAINT [pk_stg_employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[stg_order_details] Fecha de script: 31/05/2026 10:49:45  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_order_details](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Quantity] [smallint] NOT NULL,
	[Discount] [decimal](5, 2) NOT NULL,
	[STG_ValorNeto] [decimal](18, 2) NULL,
	[STG_LOAD_DATE] [date] NULL,
	[STG_SOURCE_NAME] [varchar](50) NULL,
	[STG_BATCH_ID] [varchar](20) NULL,
 CONSTRAINT [pk_stg_order_details] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[stg_orders] Fecha de script: 31/05/2026 10:49:45  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_orders](
	[OrderID] [int] NOT NULL,
	[CustomerID] [char](5) NULL,
	[EmployeeID] [int] NULL,
	[OrderDate] [date] NULL,
	[RequiredDate] [date] NULL,
	[ShippedDate] [date] NULL,
	[ShipVia] [int] NULL,
	[Freight] [decimal](18, 2) NULL,
	[ShipName] [varchar](40) NULL,
	[ShipAddress] [varchar](60) NULL,
	[ShipCity] [varchar](15) NULL,
	[ShipRegion] [varchar](15) NULL,
	[ShipPostalCode] [varchar](10) NULL,
	[ShipCountry] [varchar](15) NULL,
	[STG_DiasEntrega] [int] NULL,
	[STG_EntregaPuntual] [bit] NULL,
	[STG_LOAD_DATE] [date] NULL,
	[STG_SOURCE_NAME] [varchar](50) NULL,
	[STG_BATCH_ID] [varchar](20) NULL,
 CONSTRAINT [pk_stg_orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[stg_products] Fecha de script: 31/05/2026 10:49:45  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_products](
	[ProductID] [int] NOT NULL,
	[ProductName] [varchar](40) NOT NULL,
	[SupplierID] [int] NULL,
	[CategoryID] [int] NULL,
	[QuantityPerUnit] [varchar](20) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[UnitsInStock] [smallint] NULL,
	[UnitsOnOrder] [smallint] NULL,
	[ReorderLevel] [smallint] NULL,
	[Discontinued] [bit] NOT NULL,
	[STG_AlertaBajoReorden] [varchar](6) NULL,
	[STG_StockProyectado] [int] NULL,
	[STG_LOAD_DATE] [date] NULL,
	[STG_SOURCE_NAME] [varchar](50) NULL,
	[STG_BATCH_ID] [varchar](20) NULL,
 CONSTRAINT [pk_stg_products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[stg_shippers] Fecha de script: 31/05/2026 10:49:45  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_shippers](
	[ShipperID] [int] NOT NULL,
	[CompanyName] [varchar](40) NOT NULL,
	[Phone] [varchar](24) NULL,
	[STG_LOAD_DATE] [date] NULL,
	[STG_SOURCE_NAME] [varchar](50) NULL,
	[STG_BATCH_ID] [varchar](20) NULL,
 CONSTRAINT [pk_stg_shippers] PRIMARY KEY CLUSTERED 
(
	[ShipperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[stg_suppliers] Fecha de script: 31/05/2026 10:49:45  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_suppliers](
	[SupplierID] [int] NOT NULL,
	[CompanyName] [varchar](40) NOT NULL,
	[ContactName] [varchar](30) NULL,
	[ContactTitle] [varchar](30) NULL,
	[Address] [varchar](60) NULL,
	[City] [varchar](15) NULL,
	[Region] [varchar](15) NULL,
	[PostalCode] [varchar](10) NULL,
	[Country] [varchar](15) NULL,
	[Phone] [varchar](24) NULL,
	[Fax] [varchar](24) NULL,
	[STG_LOAD_DATE] [date] NULL,
	[STG_SOURCE_NAME] [varchar](50) NULL,
	[STG_BATCH_ID] [varchar](20) NULL,
 CONSTRAINT [pk_stg_suppliers] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [idx_stg_orders_customer] Fecha de script: 31/05/2026 10:49:45  ******/
CREATE NONCLUSTERED INDEX [idx_stg_orders_customer] ON [dbo].[stg_orders]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [idx_stg_orders_employee] Fecha de script: 31/05/2026 10:49:45  ******/
CREATE NONCLUSTERED INDEX [idx_stg_orders_employee] ON [dbo].[stg_orders]
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [idx_stg_orders_orderdate] Fecha de script: 31/05/2026 10:49:45  ******/
CREATE NONCLUSTERED INDEX [idx_stg_orders_orderdate] ON [dbo].[stg_orders]
(
	[OrderDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [idx_stg_orders_shipcountry] Fecha de script: 31/05/2026 10:49:45  ******/
CREATE NONCLUSTERED INDEX [idx_stg_orders_shipcountry] ON [dbo].[stg_orders]
(
	[ShipCountry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [idx_stg_orders_shipvia] Fecha de script: 31/05/2026 10:49:45  ******/
CREATE NONCLUSTERED INDEX [idx_stg_orders_shipvia] ON [dbo].[stg_orders]
(
	[ShipVia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[stg_order_details] ADD  DEFAULT ((0.00)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[stg_order_details] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[stg_order_details] ADD  DEFAULT ((0.00)) FOR [Discount]
GO
ALTER TABLE [dbo].[stg_orders] ADD  DEFAULT ((0.00)) FOR [Freight]
GO
ALTER TABLE [dbo].[stg_products] ADD  DEFAULT ((0.00)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[stg_products] ADD  DEFAULT ((0)) FOR [UnitsInStock]
GO
ALTER TABLE [dbo].[stg_products] ADD  DEFAULT ((0)) FOR [UnitsOnOrder]
GO
ALTER TABLE [dbo].[stg_products] ADD  DEFAULT ((0)) FOR [ReorderLevel]
GO
ALTER TABLE [dbo].[stg_products] ADD  DEFAULT ((0)) FOR [Discontinued]
GO
USE [master]
GO
